* {
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
  font-family: 'Poppins';
}
.image {
  height: 376px;
  width: 517px;
  border-radius: 30px;
  margin-right: 49px;
}
.mainDiv {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  padding: 60px; 
}
.textDiv { 
  padding-right: 50px;
}
.text {
  font-size: 14px;
  line-height: 40px;
}
.readMoreAndContact {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin-top: 20px;
}
.readMore {
  width: 50%;
  height: 46px;
  background: #ffa355;
  font-weight: bold;
  font-family: 'poppins';
  border-radius: 5px;
  border: none;
}
.contactBtn {
  width: 50%;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #52abde;
  font-family: 'Poppins';
  color: #52abde;
  background: transparent;
}